body {
    font-family: Arial, sans-serif;
  }
  
  .content {
    text-align: center;
    
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .button-group button {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .button-group button.active {
    background-color: #28a745;
    color: #fff;
    border: none;
  }
  
  
  .card {
    height: 500px;
    width: 400px;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.3);
    margin: 20px;
    border-radius: 50%;
  }

  .card:hover{
    background-color: #91ffab;
    border-radius: 20px;
  }
  
  .card img {
    height: 300px;
    width: 380px;
    margin-top: 10px;
    border-radius: 20px;
  }
  
  .card-content {
    padding: 10px;
    
  }
  
  .card-content h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
  }
  
  .card-content p {
    margin: 20px;
    color: #000000;
    font-size: 0.9em;
    
  }
  
  .languages {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .languages span {
    background: #ffffff;
    border: 1px solid rgb(60, 255, 0);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 5px;
  }

  .languages span:hover{
    background-color: #009400;
  }
  
  .know-more {
    background-color: #009400;
    color: #fff;
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 20px;
  }
  
  .know-more:hover{
    color: black;
  }