.courses {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .slider{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }  
  
  